<div class="container">
	<div class="row">
		<div id="custom-search-input">
		<%= form_tag( zgloszenies_path ,method: :get, remote: true, class: "search_form_z") do %>
            <div class="input-group col-md-6">
            <%= text_field_tag :search, params[:search], class: "form-control SearchBar", placeholder: 'Wpisz : Imie, Nazwisko, Email użytkownika, Nazwa urządzenia' %>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class=" fa fa-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <% end %>
	</div>
</div>