<h1>Edytuj Pracownika</h1>

<%= render 'form', pracownik: @pracownik %>

<div class="actions">
<%= link_to 'Pokaż', @pracownik, class: "btn btn-primary" %>
<%= link_to 'Wróć', pracowniks_path, class: "btn btn-danger" %>
</div><br/>