<h1>Edytuj Stanowisko</h1>

<%= render 'form', stanowisko: @stanowisko %>

<div class="actions">
<%= link_to 'Pokaż', @stanowisko, class: "btn btn-primary" %>
<%= link_to 'Wróć', stanowiskos_path, class: "btn btn-success" %>
</div>