<%= render 'stanowiskos/edit/new', stanowiskos: @stanowiskos %>

<%= render 'form', stanowisko: @stanowisko %>
<div class="actions">
<%= link_to 'Wróć', stanowiskos_path, class: "btn btn-primary" %>
</div>