
<%= form_tag( users_path ,method: :get, remote: true, class: "search_form_u") do %>
<%= text_field_tag :search, params[:search], placeholder: 'Wyszukaj...' %>
<% end %> <br />

<div class="table-responsive">
<%= render 'users/partials/users_table', users: @users %>
</div>
</div>
