<%= render 'users/partials/search', users: @users %>

<div class="table-responsive">
<%= render 'users/partials/users_table', users: @users %>
</div>
<div class="actions" align="center">
<%= link_to 'Zaplecze', static_pages_paneladmina_path, class:'btn btn-primary btn-block' %>
</div><br/>
