<%= render 'users/partials/search', users: @users %>

<div class="table-responsive">
  <%= render 'users/partials/users_table', users: @users %>
</div>

<div class="wrapper" align="center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<div class="actions" align="center">
  <a class="btn btn-sm btn-primary btn-create" href="<%= static_pages_paneladmina_path %>">
    <i class="fa fa-arrow-circle-left"></i> Zaplecze
  </a>
</div><br/>
