@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "bootstrap.css";
@import "bootstrap-theme.css";

body { padding-top: 20px; }

.colorgraph {
  border-top: 70px;
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.colorgraph .input-lg{
    font-family: 'roboto';

}

.fr .alert-info{
  font-family: 'roboto';
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
.fr .alert-info{
  font-family: 'roboto';
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}}
.form-group .input-lg{
    font-family: 'roboto';
}

.form-gap {
    padding-top: 30px;
}

.SearchIcon
{
    color:#fff;
   
}
.SearchButton
{
    background-color: #3366FF;
    border-radius: 1px;

}
.SearchButton:hover{
    background-color: #3366FF;
}

.SearchBar{

}
.input-group .SearchBar{
  font-family: 'roboto';
}

@media screen and (max-width: 767px) {
.SearchButton{
   margin-left: 7px;
   margin-right: 10px;
}
.input-group .SearchBar{
  text-transform: uppercase;
}
}

table#acrylic {
border-collapse: separate;
background: #fff;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
margin: 20px auto;
-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
cursor: pointer;
}

#acrylic thead {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

#acrylic thead th {
font-family: 'roboto';
font-size: 15px;
font-weight: 300;
color: #fff;
text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
text-align: center;
padding: 10px;
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #646f7f), color-stop(100%, #4a5564));
background-image: -moz-linear-gradient(#646f7f, #4a5564);
background-image: -webkit-linear-gradient(#646f7f, #4a5564);
background-image: linear-gradient(#0066cc, #4a5564);
border-top: 1px solid #858d99;
}

#acrylic thead th:first-child {
-moz-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;
border-top-left-radius: 5px;
}

#acrylic thead th:last-child {
-moz-border-top-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-right-radius: 5px;
}

#acrylic tbody td .btn {
margin-top: 1px;
margin-bottom: 1px;

}

#acrylic tbody tr td {
text-align: center;
font-family: 'roboto';
font-weight: 500;
color: #000000;
font-size: 13px;
padding: 10px 10px 10px 10px;
border-bottom: 1px solid #e0e0e0;
}

#acrylic tbody tr:nth-child(2n) {
background: default;
}

#acrylic tbody tr:last-child td {
border-bottom: none;
}

#acrylic tbody tr:last-child td:first-child {
-moz-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
border-bottom-left-radius: 5px;
}

#acrylic tbody tr:last-child td:last-child {
-moz-border-bottom-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
}

#acrylic tbody:hover > tr td {

opacity: 0.5;
}

#acrylic tbody:hover > tr:hover td {
text-shadow: none;
color: #2d2d2d;

opacity: 1;
transition: 0.2s all;
}
        
@media screen and (max-width: 767px) {
#acrylic thead {
    display: none;
}
#acrylic tr {
    margin-bottom: 10px;
    display: block;
}
#acrylic td {
    margin-top: 5px;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
}
 #acrylic th{
    margin-bottom: 10px;
    margin-top: 10px;
}
#acrylic .btn{
    margin-top: 10px;
}

#acrylic td:last-child {
    border-bottom: 0;
}
#acrylic td:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}
table#acrylic {
    width: 100%;
    border-collapse: separate;
}

#acrylic tbody td {
  margin-top: 10px;
  margin-right: 10px;
}
}
.span12{
  text-align: center;
}

.span12 h4 {
margin-left: 20px;
margin-right: 20px;
font-family: 'roboto';
font-size: 30px;
font-weight: 300;
margin-bottom: 15px;
margin-top: 10px;
text-transform: uppercase;
} 

@media all and (max-width:769px) { 
.span12 h4 {
margin-left: 20px;
margin-right: 20px;
font-family: roboto;
font-size: 20px;
font-weight: 700;
margin-bottom: 15px;
margin-top: 10px;
text-transform: uppercase;
} 
.span12 .form-horizontal{
  margin-right: 10px;
  margin-left: 10px;
}
}


.turbolinks-progress-bar {
height: 5px;
background-color: #3366FF;
}

.control-group h5{
font-family: roboto;
font-weight: bold;
font-size: 15px;
}

.well well-sm h4{
font-family: roboto;
font-weight: bold;
font-size: 15px;
}


.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-left: 0;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.table {
width: 100%;
font-family: 'Open Sans', sans-serif;
text-align: center;
margin-bottom: 20px;
background-color: transparent;
border-collapse: collapse;
border-spacing: 0;
display: table;
}

.widget.widget-table .table {
margin-bottom: 0;
border: none;
}

.widget.widget-table .widget-content {
padding: 0;
}

.widget .widget-header + .widget-content {
border-top: none;
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;
}

.widget .widget-content {
padding: 20px 15px 15px;
background: #FFF;
border: 1px solid #D5D5D5;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

.widget .widget-header {
position: relative;
height: 40px;
line-height: 40px;
background: #E9E9E9;
background: -moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e9e9e9));
background: -webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: -ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
background: linear-gradient(top, #fafafa 0%, #e9e9e9 100%);
text-shadow: 0 1px 0 #fff;
border-radius: 5px 5px 0 0;
box-shadow: 0 2px 5px rgba(0,0,0,0.1),inset 0 1px 0 white,inset 0 -1px 0 rgba(255,255,255,0.7);
border-bottom: 1px solid #bababa;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
border: 1px solid #D5D5D5;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
-webkit-background-clip: padding-box;
}

thead {
display: table-header-group;
vertical-align: middle;
border-color: inherit;
}

.widget .widget-header h3 {
top: 0px;
position: relative;
left: 10px;
display: inline-block;
margin-right: 3em;
font-size: 14px;
font-weight: 600;
color: #555;
line-height: 18px;
text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.widget .widget-header [class^="icon-"], .widget .widget-header [class*=" icon-"] {
display: inline-block;
margin-left: 13px;
margin-right: -2px;
font-size: 16px;
color: #555;
vertical-align: middle;
}


.jumbotron h2{
font-size: 24px;
text-transform: uppercase;
font-weight: 700px;
}

.jumbotron td{
font-family: 'roboto';
}
.jumbotron .btn{
font-family: roboto;
margin-top: 5px;
}

@media all and (max-width:769px) {
  .jumbotron{
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
  }
.jumbotron td{
text-align: center;
display:block;
font-family: 'roboto';
text-transform: uppercase;
}
.jumbotron h2 {
font-size: 20px;
font-weight: 600;
}
.jumbotron .btn{
font-family: roboto;
display: block;
list-style: none;
margin: 0;
padding: 0;
margin-top: 5px;
margin-left: 5px;
margin-right: 5px;
}
}

.navbar-header{
font-family: roboto;
display: block;
list-style: none;
margin: 0;
padding: 0;
}
.navbar-header .navbar-brand{
color: #333333;
}


h1,h2,h3,h5{
font-family: roboto;
}

@media all and (max-width:769px) {
h3,h5{
font-family: roboto;
font-size: 15px;
font-weight: 200px;
}
.h1{
font-size: 18px;

}
.h2{
font-size: 17px;
}}


.actions .btn {
margin-top: 3px;
margin-bottom: 5px;
margin-right: 1px;
margin-left: 1px;
font-family: 'roboto';
}

@media all and (max-width:769px) {
.actions .btn {
margin-top: 3px;
margin-bottom: 5px;
margin-right: 10px;
margin-left: 10px;
font-family: 'roboto';
text-transform: uppercase;
}}

@media all and (max-width:769px) {
.table .table-bordered .btn {
margin-top: 5px;
margin-bottom: 5px;
}}


.controls .input-xlarge {
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;

}


.control-group .btn{
margin-top: 5px;
margin-bottom: 5px;
margin-right: 2px;
margin-left: 3px;
font-family: 'roboto';
}
.control-group .control-label{
margin-right: 10px;
margin-bottom: 3px;
margin-top: 5px;
margin-left: 12px;
}
.control-label h5{
margin-left: 0px;
margin-top: 5px;
margin-bottom: 7px;
}

@media all and (max-width:769px) {
.control-group .btn{
margin-top: 5px;
margin-bottom: 5px;
margin-right: 2px;
margin-left: 3px;
font-family: 'roboto';
}
.control-group .control-label{
margin-right: 10px;
margin-bottom: 5px;
margin-top: 5px;
margin-left: 12px;
font-family: 'roboto';
}
.control-label h5{
margin-left: 0px;
margin-top: 5px;
margin-bottom: 3px;
}
}

.container .img-responsive{
margin-right: 10px;
margin-left: 10px;
margin-top: 10px;
margin-bottom: 10px;
}

@media all and (max-width:769px) {
.container .img-responsive{
margin-right: 5px;
margin-left: 5px;
margin-top: 5px;
margin-bottom: 5px;
text-align: center;
}}

.navbar-custom {
  background: #EEEEEE;
  font-family: 'roboto';
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}
.navbar-custom a:focus {
  outline: none;
}
.navbar-custom .navbar-brand {
  color: black;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: #333333;
}
.navbar-custom .navbar-nav li a:hover {
  color: #3366FF;
  outline: none;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: white;
}
.navbar-custom .navbar-nav li.active a {
  color: white;
  background: #3366FF;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: #3366FF;
}
.navbar-custom .navbar-toggle {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  border-color: #3366FF;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #3366FF;
  color: white;
  border-color: #18BC9C;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 10px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.media .media-body h4 p{
  font-family: 'roboto';
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.media .media-body .btn{
  font-family: 'roboto';
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.control-label h5{
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

@media all and (max-width:769px) {
  .control-label h5{
  margin-right: 60px;
  margin-left: 60px;
  margin-top: 7px;
  margin-bottom: 7px;
  text-transform: uppercase;
}
  .controls .input-xlarge{
    margin-right: 60px;
    margin-left: 60px;
    width: 60%;
  }
  
  .controls .btn{
    margin-right: 60px;
    display: block;
    width: 60%;
  }
  .control-group .form-control{
    margin-right: 10px;
    margin-left: 10px;
  }
}

