<h1>Edycja Zgłoszenia</h1>

<%= render 'form', zgloszeny: @zgloszeny %>

<div class="actions">
<%= link_to 'Pokaż', @zgloszeny, class: "btn btn-primary" %>
<%= link_to 'Wróć', zgloszenies_path, class: "btn btn-danger" %></div><br />
