<%= render 'zgloszenies/edit/new', zgloszenies: @zgloszenies %>

<%= render 'form', zgloszeny: @zgloszeny %>
<div class="actions">
<%= link_to 'Wróć', zgloszenies_path, class: "btn btn-primary" %>
</div><br />
