<div class="container">
    <div class="row">
    <div class="span12">
      <form class="form-horizontal" action='' method="POST">
        <fieldset>
          <div id="legend">
            <legend class=""><h4>Nowy dział</h4></legend>
          </div>
          </fieldset>
          </form>
          </div>
          </div>
          </div>  