<h1>Edytuj Klienta</h1>

<%= render 'form', klient: @klient %>

<div class="actions">
<%= link_to 'Pokaż', @klient , class: "btn btn-primary" %>
<%= link_to 'Wróć', klients_path, class: "btn btn-danger"%>
</div><br />