<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<div class="row">
<div class="col-lg-6">
<div class="input-group">
<%= form_tag( stanowiskos_path ,method: :get, remote: true, class: "search_form_u") do %>
<%= text_field_tag :search, params[:search], class: "form-control SearchBar", placeholder: 'Wyszukaj...' %>
<% end %> 
  <span class="input-group-btn">
    <button class="btn btn-defaul SearchButton" type="button">
        <span class=" fa fa-search SearchIcon" ></span>
    </button>
  </span>
</div><!-- /input-group -->
</div><!-- /.col-lg-6 -->
</div> <br/><!-- /.row -->