<h1>Edycja Zgloszenia Aktywności</h1>

<%= render 'form', zgloszenie_aktywnosc: @zgloszenie_aktywnosc %>

<div class="actions">
<%= link_to 'Pokaż', @zgloszenie_aktywnosc, class: "btn btn-primary" %>
<%= link_to 'Wróć', zgloszenie_aktywnoscs_path, class: "btn btn-danger" %>
</div>