<h1>Edycja Zgloszenia Aktywności</h1>

<%= render 'form', zgloszenie_aktywnosc: @zgloszenie_aktywnosc %>

<%= link_to 'Pokaż', @zgloszenie_aktywnosc %> |
<%= link_to 'Wróć', zgloszenie_aktywnoscs_path %>
