<h1>Editing Zgloszenie Aktywnosc</h1>

<%= render 'form', zgloszenie_aktywnosc: @zgloszenie_aktywnosc %>

<%= link_to 'Show', @zgloszenie_aktywnosc %> |
<%= link_to 'Back', zgloszenie_aktywnoscs_path %>
