
<p>
  <strong>Zgłoszenie:</strong>
  <%= @zgloszenie_aktywnosc.zgloszenie %>
</p>

<p>
  <strong>Treść:</strong>
  <%= @zgloszenie_aktywnosc.tresc %>
</p><br />

<div class="actions">
<%= link_to 'Edytuj', edit_zgloszenie_aktywnosc_path(@zgloszenie_aktywnosc), class: "btn btn-primary" %>
<%= link_to 'Wróć', zgloszenie_aktywnoscs_path , class: "btn btn-success" %>
</div>
